.modal-container{
  width: 80%;
  height: 50vh;
  display: none;
  background-color: $very-dark-blue-top;
  position: absolute;
  top: 122px;
  left: 10%;
  border-radius: 15px;
  transition: all ease-in-out 0.2s;
  .chart__header--close-button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    margin: 20px;
    button {
      color: $white;
      background: none;
      border: none;
      font-size: $textLg;
      font-weight: 700;
      border-radius: 100%; 
      padding: 10px;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
  .chart__header {
    text-transform: capitalize;
    border-radius: 15px 15px 0 0;
    padding: 45px 65px 0 45px;
    color: $white;
    display: flex;
    flex-direction: column;
    width: 100%;    
    .chart__header--titles{
      display: flex;
      flex-direction: column;
      height: 50%;
      margin-bottom: 40px;
      h4 {
        font-size: $textXl;
        margin-bottom: 20px;
      }
      div {
        display: flex;
        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
        span {
          font-size: $textSm;
          color: $desaturated-blue;
          font-weight: 700;
        }
      }
    }
    .chart__header--account-data{
      color: $lime-green;
      display: flex;
      font-size: $textXxl-chart;
      font-weight: 700;
      margin-bottom: 30px;
      span {
        color: $white;
        font-size: $textSm;
        font-weight: 400;
        margin-left: 20px;
      }
    }
    .chart__header--account-data > .chart__header--total{
      color: $white;
      font-size: $textXxl-chart;
    }
    .chart__header--account-data > .chart__header--total{
      color: $white;
      font-size: $textXxl-chart;
    }
    .chart__header--account-data > * {
      margin-right: 30px;
      display: flex;
      align-items: center;
      img {
        width: 10px;
        height: auto;
      }
      .data {
        display: flex;
        align-items: center;
        h4 {
          &.down {
            color: $youtube;
          }
        }
      }
      
    }
  }

  .chart__container {
    span {
      color: $desaturated-blue;
      font-size: $textMd;
    }
    background-color: $very-dark-blue;
    position: relative;
    padding: 20px 50px 50px 50px;
    margin: auto;
    height: 65%;
    width: 100%;
    border-radius: 15px;
    canvas {
      margin-top: 20px;
    }
  }
}

@include mediumScreen {
  .modal-container{
    .chart__header{
      padding: 25px 25px 0 25px;
      .chart__header--account-data {
        flex-direction: column;
      }
      .chart__header--account-data > *{
        margin: 0;
        .data {
          min-width: 100px;
        }
      }
    }
  }
}

@include mobileScreen {
  .modal-container{
    .chart__header{
      padding: 25px 25px 0 25px;
      .chart__header--account-data > *{
        width: 100%;
        justify-content: start;
        margin: 0;
      }
    }
    .chart-container{
      padding: 35px;
    }
  }
}