//Typography

// Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


// Font size
$textXxl: 40px;
$textXxl-chart: 32px;
$textXl: 24px;
$textLg: 20px;
$textMd: 18px;
$textSm: 14px;
$textXsm: 10px;


//Weights
$regular: 400;
$bold: 700;