.overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  h2 {
    color: $white;
    font-size: $textMd;
    margin-bottom: 28px;
  }
  .overview__list {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20%, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    .overview__card {
      .overview__card-group{
        list-style: none;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        row-gap: 20px;
        column-gap: 20px;
        .overview__sm--card{
          width: 100%;
          height: 122px;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          background-color: $dark-desaturated-blue;
          transition: all ease-in-out .2s;
          &:hover{
            cursor: pointer;
            filter: brightness(1.3);
          }
          .card-header {
            width: 100%;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
              width: 20px;
              height: 20px;
            }
            span {
              color: $desaturated-blue;
              font-size: $textSm;
            }
          }
          .card-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: $textXxl;
            font-weight: 700;
            span {
              text-transform: uppercase;
              letter-spacing: 5px;
              font-size: $textXsm;
              font-weight: 200;
            }
          }
          .card-footer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: $white;
            font-size: $textXl;
            font-weight: 700;
            span {
              font-size: $textXsm;
              color: $lime-green;
              font-weight: 700;
            }
            .card-footer__percentage{
              &.down {
                img {
                  fill: $youtube;
                }
                span {
                  color: $youtube;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mediumScreen {
  .overview {
    .overview__list {
      grid-template-columns: repeat(auto-fit, minmax(40%, 2fr));
      grid-template-rows: repeat(auto-fit, minmax(50%, 1fr));
      row-gap: 10px;
      column-gap: 10px;
      .overview__card {
        .overview__card-group{
          column-gap: 10px;
          row-gap: 10px;
          grid-template-columns: repeat(auto-fit, minmax(100%, 2fr));
        }
      }
    }
  }
}

@include mobileScreen {
  .overview {
    .overview__list {
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(50%, 1fr));
      .overview__card {
        .overview__card-group{
          grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
          .overview__sm--card {
            padding: 15px;
            height: fit-content;
          }
        }
      }
    }
  }
}