// Light Theme

body {
  &.theme--light {
    background-color: $white;
  }
  .split-background {
    &.theme--light {
      background-color: $soft-gray;
    }
  }
}

.header {
  &.theme--light {
    background-color: $soft-gray;
  }
  h1 {
    &.theme--light {
      color: $black;
    }
  }
  .color-mode {
    .color-mode__text {
      &.theme--light {
        color: $black;
      }
    }
  }
}

.social-media{
  .social-media__list{
    .social-media__card{
      &.theme--light {
        &:hover{
          filter: brightness(0.9);
        }
        background-color: $deep-gray;
      }
      .card-data{
        &.theme--light {
          color: $black;
        }
      }
    }
  }
}

.overview {
  h2 {
    &.theme--light {
      color: $black;
    }
  }
  .overview__list {
    .overview__card {
      .overview__card-group{
        .overview__sm--card{
          &.theme--light {
            &:hover{
              filter: brightness(0.9);
            }
            background-color: $deep-gray;
          }

          .card-footer {
            &.theme--light {
              color: $black;
            }
          }
        }
      }
    }
  }
}

.modal-container{
  &.theme--light {
    background-color: $soft-gray;
  }
  .chart__header{
    &.theme--light {
      color: $black;
    }
    .chart__header-account-details {
      .close-button {
        .close-cart-button {
          &.theme--light {
            color: $black;
          }
        }
      }
      .titles {
        .h4 {
          &.theme--light {
            color: $black;
          }
        }
      }
    }

    .chart__header-account-data{
      span {
        &.theme--light {
          color: $black;
        }
      }
    }
    .chart__header-account-data > .total{
      &.theme--light {
        color: #61636F;
      }
    }
  }

  .chart-container {
    &.theme--light {
      background-color: $deep-gray;
    }
  }

}